@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    color: #5C6A88;
}

h1, h3, h5, h6 {
    font-weight: 700;
}

h1 {
    font-size: 2.6rem;
}

h3 {
    font-size: 2rem;
    margin: 0 0 10px 0;
}

p {
    font-size: 1.6rem;
}

a {
    color: #026BFF;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 7px 0 7px 5px;
    border: 1px solid #F2F2F2;
    border-radius: 3px;
    margin-bottom: 10px;
}

input[type="text"]:focus, input[type="password"]:focus {
    outline: none;
}

button {
    padding: 6px 5px 6px 5px;
    border: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

/*region carousel*/

.carousel {
    width: 75%;
    margin: 100px auto 50px auto;
}

.carousel > .carousel-content {
    background: #fff;
    padding: 30px 0;
}

.carousel img {
    width: 100%;
}

.carousel q {
    font-size: 1.6rem;
    margin-top: 15px;
    display: block;
}

.carousel i.fa-angle-left,
.carousel i.fa-angle-right {
    display: none;
}

.carousel-content h5 {
    margin-bottom: 2px;
}

.carousel-content h5, .carousel-content p {
    color: #031C4E;
}

span.point {
    width: 13px;
    height: 13px;
    border: 1px solid #006AFF;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

span.point.active {
    background: #006AFF;
    cursor: default;
}

/*endregion*/

/*region header*/

/*region nav*/

nav.navbar {
    margin-bottom: 0;
}

nav.navbar-default {
    background-color: #fff;
    border: none;
    padding: 5px 0;
}

nav .navbar-brand {
    padding: 13px 15px;
}

nav .navbar-brand img {
    height: 23px;
}

nav button.navbar-toggle {
    color: #3A8AFF;
    padding: 0;
    border: none;
    margin-top: 14px;
}

nav button.navbar-toggle > i.fa-bars {
    font-size: 2rem;
}
/*endregion*/

/*region jumbotron*/

.jumbotron {
    color: #fff;
    background: #0158FF url("../img/bg-sea.svg") no-repeat 20%;
    background-size: cover;
    min-height: 500px;
    padding: 50px 0;

    margin-top: 60px;
    margin-bottom: 0;
}

.jumbotron p {
    font-size: 1.6rem;
    margin-bottom: 0;
}

.jumbotron .card {
    background: #fff;
    padding: 30px 15px;
    border-radius: 3px;
    margin-top: 10px;
}

.jumbotron .card button {
    font-size: 1.2rem;
    width: 100%;
}

button[name="sign-up"] {
    color: #fff;
    background: #579AFF;
}

button[name="sign-up-google"] {
    position: relative;
    color: #444;
    background: #fff;
    box-shadow: 2px 2px 1px #F0EFF0;
}

button[name="sign-up-google"] > img {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 26px;
}

.jumbotron .card p {
    font-size: 1.1rem;
}

.jumbotron .card p > a {
    text-decoration: underline;
}

/*endregion*/

/*endregion*/

/*region main*/

/*region customers*/

#customers h6 {
    color: #7A859F;
}

#customers .logo {
    margin-top: 35px;
}

#customers .logo > img {
    width: 100%;
    height: 60px;
    object-fit: cover;
    object-position: left;
}

#customers a {
    font-size: 1.2rem;
    padding-top: 20px;
}

/*endregion*/

/*region our process*/

#our-process h1 {
    font-size: 2.3rem;
}

#our-process p {
    color: #5C6A88;
}

#our-process .nav-pills li {
    margin-top: 0;
}

#our-process .nav-pills a {
    color: #75809A;
    border-left: 2px solid #ccc;
    border-radius: 0;
}

#our-process .nav-pills a:hover {
    background: #F3F5F9;
}

#our-process .nav-pills a:focus {
    background: none;
}

#our-process .nav-pills a.active {
    color: #031C4E;
    background: none;
    border-left: 2px solid #006AFF;
}

#our-process img {
    height: 35px;
}

/*endregion*/

/*region regions*/

#regions .row.region {
    width: 98%;
    font-size: 1.1rem;
    padding: 5px 0;
    border-bottom: 1px solid #fff;
    margin: 0 auto;
}

#regions .col-xs-12:last-of-type > .row.region:last-of-type {
    border-bottom: none;
}

#regions span, #regions a {
    padding: 8px 0;
    display: inline-block;
}

#regions a {
    color: #fff;
}

/*endregion*/

/*region register*/

#register button {
    color: #1375FF;
    padding: 10px 15px;
    margin-top: 20px;
}

/*endregion*/

/*endregion*/

/*region footer*/

#footer {
    background: #031C4E;
}

#footer img.logo {
    width: 36px;
    margin-bottom: 5px;
}

#footer p {
    margin-bottom: 0;
}

#footer a {
    color: #838DA3;
}

#footer .socials a > i {
    font-size: 1.7rem;
    margin-right: 10px;
    margin-bottom: 10px;
}

#footer h5 {
    color: #fff;
}

#footer ul {
    list-style: none;
    padding: 0;
}

#footer ul > li {
    font-size: 1.2rem;
    margin-left: 0;
    margin-top: 5px;
}

/*endregion*/

/*region help*/

#helper {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#helper > .shark {
    position: relative;
    width: 50px;
    height: 50px;
    background: #006AFF url("../img/shark.svg") no-repeat center center;
    background-size: contain;
    border-radius: 5px;
    float: right;
    cursor: pointer;
    filter: drop-shadow(0 0 2px #333);
}

#helper > .shark:before {
    position: absolute;
    top: -8px;
    right: -7px;
    content: "3";
    font-size: 1.3rem;
    color: #fff;
    background: #FF0001;
    padding: 0 5px;
    border: 3px solid #fff;
    border-radius: 50%;
}

#helper > .message {
    position: relative;
    color: #000;
    background: #fff;
    width: 250px;
    height: 50px;
    padding: 6px 8px;
    border-radius: 5px;
    margin-right: 15px;
    float: right;
    filter: drop-shadow(0 0 2px #333);
}

#helper > .message:after {
    position: absolute;
    top: 50%;
    right: -5px;
    transform: rotate(-45deg);
    content: "";
    width: 12px;
    height: 12px;
    background: #fff;
    display: block;
}

#helper > .message > p {
    font-size: 1.3rem;
    margin-bottom: 0;
}

/*endregion*/

/*region small screen*/

@media screen and (min-width: 768px) and (max-width: 991px) {
    /*show mobile menu button*/
    /*region header*/

    /*region nav*/

    nav .navbar-header {
        float: none;
    }

    nav ul.navbar-nav {
        display: none;
    }

    nav button.navbar-toggle {
        display: block;
        margin-right: 0;
    }

    /*endregion*/

    /*endregion*/
}

@media screen and (min-width: 768px) {
    h3 {
        font-size: 2.4rem;
    }

    p {
        font-size: 1.4rem;
    }

    input[type="text"], input[type="password"] {
        font-size: 1.5rem;
    }

    .container {
        width: 100%;
    }

    /*region carousel*/

    .carousel {
        position: relative;
        width: 60%;
    }

    .carousel > .carousel-content {
        width: 80%;
        margin: 0 auto;
    }

    .carousel img {
        width: 85%;
    }

    .carousel img#rockerbox {
        width: 70%;
    }

    .carousel i.fa-angle-left,
    .carousel i.fa-angle-right {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 4rem;
        display: block;
        cursor: pointer;
    }

    .carousel i.fa-angle-left {
        left: 0;
    }

    .carousel i.fa-angle-right {
        right: 0;
    }

    .carousel i.fa-angle-left:hover,
    .carousel i.fa-angle-right:hover {
        color: #031C4E;
    }

    span.point {
        width: 10px;
        height: 10px;
    }

    /*endregion*/

    /*region header*/

    /*region jumbotron*/

    .jumbotron h1 {
        font-size: 3.6rem;
    }

    .jumbotron p {
        font-size: 2rem;
        margin-bottom: 0;
    }

    .jumbotron .card button {
        font-size: 1.3rem;
    }

    .jumbotron .card p {
        font-size: 1.2rem;
    }

    /*endregion*/

    /*endregion*/

    /*region main*/

    /*region customers*/

    #customers h6 {
        font-size: 1.5rem;
    }

    #customers .logo {
        margin-top: 20px;
        margin-bottom: 5px;
    }

    #customers .logo > img {
        height: 40px;
    }

    #customers a {
        font-size: 1.4rem;
    }

    /*endregion*/

    /*region our process*/

    #our-process h1 {
        font-size: 2.6rem;
    }

    #our-process h5, #our-process .nav-pills a {
        font-size: 1.6rem;
    }

    /*endregion*/

    /*region regions*/

    #regions .row.region {
        font-size: 1.2rem;
    }

    #regions span, #regions a {
        padding: 7px 0;
    }

    /*endregion*/

    /*endregion*/

    /*region footer*/

    #footer img.logo {
        width: 42px;
    }

    /*endregion*/
}

/*endregion*/

/*region medium screen*/

@media screen and (min-width: 992px) {
    p {
        font-size: 1.4rem;
    }

    .container {
        max-width: 940px !important;
    }

    /*region carousel*/

    .carousel {
        width: 75%;
        margin: 45px auto 5px auto;
    }

    .carousel img#rockerbox {
        width: 40%;
    }

    /*endregion*/

    /*region header*/

    /*region nav*/

    nav {
        font-size: 1.4rem;
    }

    nav a {
        color: #2C416B !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    nav ul.navbar-center {
        position: absolute;
        left: 45%;
        transform: translateX(-45%);
    }

    nav button.sign-up {
        font-size: 1.2rem;
        color: #004AFF;
        background: none;
        border: 1px solid #004AFF;
        padding: 7px 7px;
        border-radius: 3px;
        margin: 8px 0 0 5px;
    }

    /*endregion*/

    /*region jumbotron*/

    .jumbotron h1 {
        font-size: 4.7rem;
    }

    .jumbotron p {
        font-size: 1.8rem;
    }

    .jumbotron .card button {
        font-size: 1.2rem;
    }

    .jumbotron .card p {
        font-size: 1.1rem;
    }

    /*endregion*/

    /*endregion*/

    /*region main*/

    /*region customers */

    #customers .logo > img {
        height: 40px;
    }

    /*endregion*/

    /*region regions*/

    #regions .row.region {
        font-size: 1.1rem;
    }

    #regions span, #regions a {
        padding: 8px 0;
    }

    /*endregion*/

    /*endregion*/
}

/*endregion*/

/*region common*/

.jumbotron .card,
#our-process h1,
#our-process h5,
#main-features h1,
#features h1,
#features h5,
#teams h1 {
    color: #031C4E;
}

#customers,
#our-process,
#main-features,
#features,
#regions,
#teams,
#register,
#footer {
    padding-top: 30px;
    padding-bottom: 30px;
}

#customers, #main-features, #teams {
    background: #F3F5F9;
}

#regions, #register {
    color: #fff;
    background: linear-gradient(180deg, rgba(0, 71, 197, 1) 4%, rgba(0, 50, 174, 1) 49%, rgba(0, 30, 153, 1) 100%);
}

/*endregion*/

/*region utilities*/

.small {
    font-size: 1.2rem !important;
}

.blue {
    color: #006AFF;
}

.light-gray {
    color: #838DA3;
}

.uppercase {
    text-transform: uppercase;
}

.mt-40 {
    margin-top: 40px;
}

.mt-20 {
    margin-top: 20px;
}

.mt-15 {
    margin-top: 15px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-5 {
    margin-right: 5px;
}

@media screen and (min-width: 768px) {
    .mt-sm-20 {
        margin-top: 20px;
    }
}

@media screen and (max-width: 991px) {
    .mt-xs-sm-20 {
        margin-top: 20px;
    }
}

/*endregion*/